.header{
    height: 48px;
    margin-bottom: -48px;
    border-bottom: 1px solid #eee;
}

.inner{
    @media (min-width: 768px){
        width: 670px;
        margin: 0 auto;
    }

    padding: 0 15px;
    box-sizing: border-box;
}

.logo{
    font-size: 13px;
    line-height: 48px;
    color: #111;
}

.link{
    display: inline-block;
    height: 48px;
}