.main{
    min-height: 100%;
    box-sizing: border-box;

    @media (min-width: 768px){
        width: 670px;
        margin: 0 auto;
    }

    font-size: 14px;
    padding: 48px 15px 120px;
    color: #111;
}