.post_item{
    padding: 20px 0;
    border-bottom: 1px solid #eee;

    &__title{
        font-size: 18px;
        display: block;
    }
    
    &__time{
        color: #999;
        font-size: 13px;
    }

    &__description{
        margin-top: 10px;
    }
}