.post_item{
    padding: 20px 0;
    border-bottom: 1px solid #eee;

    &__title{
        font-size: 16px;
        display: block;
    }

    &__link{
        color: #111;
    }
    
    &__time{
        color: #999;
        font-size: 13px;
    }

    &__description{
        margin-top: 10px;
    }

    &__tag_list{
        margin-top: 8px;
        overflow-x: auto;
        white-space: nowrap;
    }
}