.tag_item{
    display: inline-block;
    border-radius: 15px;
    background-color: #eee;
    margin-right: 4px;
}

.tag_item__name{
    color: #333;
    line-height: 20px;
    padding: 5px 10px;
    display: block;
}